{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/hexa.css' %}">
    <link rel="stylesheet" href="{% static 'css/cubo.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="hover"></div>
    <div class="contenedor">
        <div class="hexa">
            <div class="cara" id="uno"><a href="./InfoSobreMi.html">Sobre mi</a></div>
            <div class="cara" id="dos"><a href=""></a></div>
            <div class="cara" id="tres"><a href=""></a></div>
            <div class="cara" id="cuatro"><a href=""></a></div>
            <div class="cara" id="cinco"><a href=""></a></div>
            <div class="cara" id="seis"><a href="">Contacto</a></div>
            <div class="cara" id="siete"><a href=""></a></div>
            <div class="cara" id="ocho"><a href=""></a></div>
                <div class="cubo">
                    <div class="lado" id="one"></div>
                    <div class="lado" id="two"></div>
                    <div class="lado" id="three"></div>
                    <div class="lado" id="four"></div>
                    <div class="lado" id="five"></div>
                    <div class="lado" id="six"></div>
                    <div class="cubo2">
                        <div class="lado2" id="uno2"></div>
                        <div class="lado2" id="dos2"></div>
                        <div class="lado2" id="tres2"></div>
                        <div class="lado2" id="cuatro2"></div>
                        <div class="lado2" id="cinco2"></div>
                        <div class="lado2" id="seis2"></div>
                    </div>
                </div>
        </div>
        
        <div class="izquierda"></div>
        <div class="derecha"></div>
        <div class="arriba"></div>
        <div class="abajo"></div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'scripts/hexa.js' %}"></script>
</body>
</html>